@import "tailwindcss";

/* Cambia el color del fondo del toast*/
.Toastify__toast {
  background-color: #0a121f !important;
  color: white !important;
}

/* Cambia el color de la barrita del toast*/
.Toastify__toast .Toastify__progress-bar {
  background: linear-gradient(90deg, #00afb3, #e65fde) !important;
}